body {
  color: #333;
  font-family: "Open Sans", Arial;
  font-size: 15px;
  line-height: 1.42857;
  margin: 5px 14px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Gentium Book Basic', serif;
  margin: 5px 0 10px;
}
h1 {
  font-size: 32px;
}
h2 {
  font-size: 30px;
}
h3 {
  font-size: 24px;
}
h4 {
  font-size: 18px;
}
p,
ul,
ol {
  margin: 0 0 20px;
}
hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0 none;
  border-top: 1px solid #eee;
}
img {
  max-width: 100%;
}
