@page "/manager/workflows/my"
@model Piranha.Manager.Models.WorkflowsMyViewModel
@attribute [Area("Manager")]

@using Piranha.Manager.Localization
@inject ManagerLocalizer Localizer
@inject IAuthorizationService Auth

@{
    Layout = "_Layout";
    ViewBag.MenuItem = "WorkflowsMy";
    var title = "My Work";
}

<h1>@title</h1>

<table id="workflowTable" class="table table-striped">
    <thead>
        <tr>
            <th>Título</th>
            <th>Tipo</th>
            <th>Estado</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>

@section Scripts {
    <script src="~/manager/assets/js/piranha.workflow.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', async () => {
            if (await piranha.workflow.isAdmin()) {
                piranha.workflow.initAdminPage();
            } else {
                piranha.workflow.initUserPage();
            }
        });
    </script>
}
