<ng-container *ngIf="!isLoading">
  <div class="container body">
    <h1>{{model.Title}}</h1>

    <div class="lead" [innerHTML]="model.Body.Value"></div>

    <article *ngFor="let post of model.Archive.Posts">
      <header>
        <h2><a [routerLink]="post.Permalink">{{post.Title}}</a></h2>
      </header>
      <p class="small">Published: {{post.Published | date: 'dd/MM/yyyy'}} in {{post.Category.Title}}</p>

      <p *ngIf="post.Regions.Heading.Ingress.Value" [innerHTML]="post.Regions.Heading.Ingress.Value"></p>

      <p *ngIf="!post.Regions.Heading.Ingress.Value && post.Blocks" [innerHTML]="post.Blocks[0].Body.Value | firstParagraph"></p>
    </article>

  </div>
</ng-container>
