@model Blog.Models.ContentPageModel
@{
    ViewBag.Title = Model.Title;
    ViewBag.Ingress = Model.Settings.Ingress.Value;
    ViewBag.IsStart = true;
}

<div class="container">
    @Html.Raw(Model.Body.ToHtml())
</div>
