@model Blog.Models.StartPageModel
@{
    ViewBag.Title = Model.Title;
    ViewBag.IsStart = true;
}

<div class="container">
    <h1>@Model.Title</h1>
    <p class="lead">@Model.Intro.Title.Value</p>
    <p>
        @Model.Intro.Body.Value
    </p>
    <hr />
    @Model.Content.Html()
</div>
