@model MvcWeb.Models.StandardPage
@{
    ViewBag.Title = Model.Title;
}

@Html.DisplayFor(m => m.Hero)

<div class="container body-container wide">
    <div class="row justify-content-center">
        <div class="col-md-10 col-xs-12">
            @Html.DisplayFor(m => m.Blocks)
        </div>
    </div>
</div>
