.btn {
    &.btn-primary {
        background-color: #f94c3b;
        border-color: #f94c3b;
        transition: all .2s ease-in-out;

        &:hover {
            background-color: darken(#f94c3b, 15%);
            border-color: darken(#f94c3b, 15%);
        }
    }
}