.badge {
    font-weight: normal;
}

.breadcrumb {
    .badge-item {
        position: relative;
        margin-left: .5rem;
    }

    .badge {
        padding: .5rem 1rem;
        position: absolute;
        top: -.175rem;
        text-transform: uppercase;

        i {
            margin-right: .5rem;
        }
    }
}