.btn {
    transition: background-color ease-in-out .15s, border-color ease-in-out .15s;

    &.btn-labeled {
        i {
            padding-right: .5rem;
            border-right: solid 1px rgba(255,255,255,0.3);
            margin-right: .5rem;
        }

        span {
            margin-right: .25rem;
        }
    }

    &.btn-loading {
        > [class^="fa"] {
            &:before {
                //content: "\f1ce";
                content: "\f110";
                display: inline-block;
                animation: btn-loading-animation 1s linear;
                animation-iteration-count: infinite;
            }
        }
    }
}

.btn-group {
    .dropdown-menu {
        min-width: 100%;
    }
}

@keyframes btn-loading-animation {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}