@import "content";
@import "variables";

.field, .field-body {
    position: relative;
}

.region-center {
    max-width: $block-width;
    margin: 0 auto;
}

.html-field {
    @include content();

    background: $white;
    border: solid 1px $gray-400;
    border-radius: $border-radius;
    padding: .75rem;

    &.empty:not(:focus-within)
    {
        background: $white url("../img/empty-text.png") no-repeat 50% 50%;
        height: 8rem;
    }
}

.field-description {
    margin: -.5rem 0 .5rem;
}

.media-field {
    .media-picker {
        .card {
            border: none;

            .card-body {
                background: #fff;
                padding: .4rem 1rem;
                margin-right: 1rem;
                border: solid 1px $gray-400;
            }
        }
    }
}
