@import "variables";

.form-group:not(.form-check) {
    &.title {
        max-width: 960px;
        margin: 0 auto;
        position: relative;

        .form-control-lg {
            font-family: Bitter, serif;
            font-size: 2.25rem;
            border-color: $gray-400;

            &:hover, &:focus {
                outline: none;
                box-shadow: none;
            }
        }
    }

    >label {
        font-weight: bold;
    }
}

[contenteditable]:focus {
    outline: 0px solid transparent;
}
