@import "variables";

#login {
    background: $primary url("../img/login.png");
    background-size: cover;
    margin-left: 0;

    .container {
        max-width: 360px;
        margin-top: 6rem;
    }

    .card-body {
        background: transparent;

        &.card-body-logo {
            color: $white;
            text-align: center;

            .logo {
                background: url("../img/logo.png") no-repeat 50% 50%;
                height: 150px;
                margin-bottom: 1rem;
            }

            p {
                font: 300 32px "Open Sans",Arial;
                text-transform: uppercase;
                margin-bottom: 0;

                small {
                    display: block;
                    font-size: .8rem;
                    font-weight: 400;
                    text-transform: none;
                    opacity: .6;
                }
            }
        }

        &.card-body-form {
            .form-control {
                //background: $gray-100;
                border: 0;
                font-weight: 300;
            }
        }
    }
}