@import "mixins";
@import "variables";

.nav-pills {
    &.nav-pills-card {
        background: $white;
        padding: 1rem 1rem 0;

        .nav-link {
            i {
                margin-right: .25rem;
            }
        }
    }
}
