.dd {
    position: relative;
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
}

.dd-list {
    display: block;
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none;

    .dd-list {
        padding-left: 2.4rem;
    }
}

.dd-item,
.dd-placeholder {
    display: block;
    position: relative;
    margin: 0;
    padding: 0;
    min-height: 20px;
}

.dd-handle {
    display: block;
}

.dd-item {
    >button {
        display: none;
    }

    >.dd-list {
        display: none;
    }

    &.expanded {
        >.dd-list {
            display: block;
        }
    }
}

.dd-expand {
    display: none;
}

.dd-collapsed {
    .dd-list,
    .dd-collapse {
        display: none;
    }

    .dd-expand {
        display: block;
    }
}

.dd-placeholder {
    margin: 0 0 2px;
    padding: 0;
    min-height: 20px;
    background: #f2fbff;
    border: 1px dashed #b6bcbf;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.dd-dragel {
    position: absolute;
    pointer-events: none;
    opacity: .6;
    z-index: 9999;

    >.dd-item .dd-handle {
        margin-top: 0;
    }
}

.dd-nochildren .dd-placeholder {
    display: none;
}
