@import "variables";

.w-20 {
    width: 20% !important;
}

.table {
    tr {
        &.droppable {
            &.active {
                background: $table-active-bg;
            }
        }

        td, th {
            &.actions {
                text-align: right;

                &.one {
                    width: 3.5rem;
                }
                &.three {
                    width: 7.5rem;
                }
            }

            &.td-small {
                width: 110px;

                .img-thumbnail {
                    width: 78px;
                    height: 78px;
                }
            }

            &.td-medium {
                width: 180px;
            }

            &:first-child {
                padding-left: 1.25rem;
            }

            &:last-child {
                padding-right: 1.25rem;
            }
        }
    }

    thead {
        th {
            text-transform: uppercase;
        }
    }

    tbody {
        tr {
            background: $white;
            border-top: solid 2px $body-bg;

            td {
                &:first-child {
                    a, span.title {
                        font-family: "Open Sans", sans-serif;
                        font-size: 1rem;

                        i {
                            color: $gray-500;
                            font-size: .875rem;
                            padding-right: .5rem;
                        }
                    }
                }
            }
        }
    }

    &.table-media {
        i {
            width: 26px;
            text-align: center;
        }
    }

    &.table-comments {
        .author {
            display: block;
            width: 140px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    .badge {
        padding: .25rem .5rem;
        margin-top: .2rem;
        margin-left: .5rem;
        font-size: .65rem;
        text-transform: uppercase;
        float: right;
    }
}

.card-body {
    .table {
        tbody {
            tr {
                background: $body-bg;
                border-top: solid 2px $white;

                &.unpublished {
                    opacity: .6;
                }
            }
        }
    }
}
