@model Piranha.Areas.Manager.Models.PreviewModel
@{
    Layout = "";
}

<html style="height:100%">
    <head>
        <title>Live Preview</title>

        <link href="~/manager/assets/css/style.min.css" rel="stylesheet" type="text/css" />
    </head>
    <body class="live-preview">
        <div class="preview">
            <div class="preview-header">
                <a id="desktop" href="#"><i class="fas fa-desktop"></i><span>Desktop</span></a>
                <a id="laptop" href="#"><i class="fas fa-laptop"></i><span>Laptop</span></a>
                <a id="tablet" href="#"><i class="fas fa-tablet-alt"></i><span>Tablet</span></a>
                <a id="phone" href="#"><i class="fas fa-mobile-alt"></i><span>Mobile</span></a>
            </div>
            <div class="preview-body">
                <iframe id="preview" src="@Model.Permalink">
                </iframe>
            </div>
        </div>
        <script type="text/javascript" src="~/manager/assets/js/script.min.js"></script>
        <script type="text/javascript" src="~/manager/assets/js/script.signalr.min.js"></script>
        <script>
            "use strict";

            var currentId = '@Model.Id';
            var connection = new signalR.HubConnectionBuilder().withUrl('/manager/preview').build();

            connection.on('Update', function (id) {
                if (id == currentId)
                    document.getElementById('preview').contentWindow.location.reload();
            });

            connection.start().catch(function (err) {
                return console.error(err.toString());
            });

            $(document).on('click', '#desktop', function (e) {
                $('#preview').removeClass('phone').removeClass('tablet').removeClass('laptop');
                return false;
            });
            $(document).on('click', '#laptop', function (e) {
                $('#preview').removeClass('phone').removeClass('tablet').addClass('laptop');
                return false;
            });
            $(document).on('click', '#tablet', function (e) {
                $('#preview').removeClass('phone').removeClass('laptop').addClass('tablet');
                return false;
            });
            $(document).on('click', '#phone', function (e) {
                $('#preview').removeClass('tablet').removeClass('laptop').addClass('phone');
                return false;
            });
        </script>
    </body>
</html>