<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="~/assets/css/slim.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bitter:700|Open+Sans:300,400">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

    <title>@ViewBag.Title</title>
</head>
<body>
    <partial name="Partial/_Menu" />

    @RenderBody()

    <partial name="Partial/_BlockPickerModal" />
    <partial name="Partial/_MediaPickerModal" />
    <partial name="Partial/_PreviewModal" />
    <partial name="Partial/_Notifications" />

    <script>
        var piranha = {};

        piranha.baseUrl = "@Url.Content("~/")";
    </script>

    <script src="~/assets/js/piranha.min.js"></script>

    @RenderSection("script", required: false)
</body>
</html>