.navbar {
    .navbar-toggler {
        border-color: #333;

        .navbar-toggler-icon {
            color: #fff;
            height: 1.5rem;
            font-size: 1.5rem;
        }
    }

    .navbar-brand {
        position: absolute;
        top: .125rem;
        right: 0;

        a {
            margin-left: .5rem;

            img {
                height: 20px;
            }
        }
    }

    .navbar-nav {
        width: 100%;

        .nav-item {
            a {
                color: #fff;
                padding: 1rem;
                text-transform: uppercase;
                opacity: .6;
                transition: opacity .1s ease-in-out;

                &:hover {
                    opacity: 1;
                    text-decoration: none;
                    transition: opacity .1s ease-in-out;
                }
            }

            &.active {
                a {
                    opacity: 1;
                }
            }
        }
    }
}