@media (min-width: 768px) {
    .hero {
        h2 {
            font-size: 2.7rem;
        }

        p {
            font-size: 1.35rem;

            small {
                font-size: 60%;
            }
        }
    }

    .navbar {
        .navbar-brand {
            top: 1rem;
        }
    }
}
