@page "~/manager/login"
@model LoginModel
@inject ManagerLocalizer Localizer
@{
    Layout = null;
}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="~/manager/assets/css/slim.min.css">

    <title>Login</title>
</head>
<body id="login">
    <div class="container">
        <form method="post">
            <div class="card card-login">
                <div class="card-body card-body-logo">
                    <div class="logo">
                    </div>
                    <p class="banner">
                        Piranha CMS
                        <small>Version @Piranha.Utils.GetAssemblyVersion(typeof(Piranha.Manager.Module).Assembly)</small>
                    </p>
                </div>
                <div class="card-body card-body-form">
                    <div class="form-group">
                        <input name="username" type="text" class="form-control form-control-lg text-center" placeholder="@Localizer.General["username"]">
                    </div>
                    <div class="form-group">
                        <input name="password" type="password" class="form-control form-control-lg text-center" placeholder="@Localizer.General["password"]">
                    </div>
                    <button class="btn btn-lg btn-block btn-primary" type="submit">
                        <i class="fas fa-check"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>
</body>
</html>