<div id="notification-hub">
    <div v-for="item in items" class="notification" v-bind:class="{ visible: item.isVisible, success: item.type === 'success', danger: item.type === 'error' }">
        <p v-html="item.body"></p>
    </div>
</div>