<!-- The Modal -->
<div class="modal fade" id="previewModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header border-bottom-0">
                <h5 class="modal-title">DC658464_BBQ.jpg</h5>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Tabs -->
            <ul class="nav nav-tabs nav-fill">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="pill" href="#pills-preview">Preview</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="pill" href="#pills-details">Details</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="pill" href="#pills-update">Update</a>
                </li>
            </ul>

            <!-- Modal Body -->
            <div class="modal-body bg-light">
                <div class="tab-content" id="pills-tabContent">
                    <div class="tab-pane fade show active" id="pills-preview">
                        <img class="d-block mx-auto mw-100" src="https://picsum.photos/800/500" />
                    </div>
                    <div class="tab-pane fade" id="pills-details">
                        <table class="table table-borderless m-0">
                            <tbody>
                                <tr>
                                    <th>Filename</th>
                                    <td>DC658464_BBQ.jpg</td>
                                </tr>
                                <tr>
                                    <th>Content type</th>
                                    <td>Image</td>
                                </tr>
                                <tr>
                                    <th>Image size</th>
                                    <td>1.23 MB</td>
                                </tr>
                                <tr>
                                    <th>Image width</th>
                                    <td>800 px</td>
                                </tr>
                                <tr>
                                    <th>Image height</th>
                                    <td>655 px</td>
                                </tr>
                                <tr>
                                    <th>Last modified</th>
                                    <td>2019-01-25</td>

                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="tab-pane fade" id="pills-update">
                        update
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>