@import "colors";

body {
    background: $color_bg;
}

img {
    max-width: 100%;

    &.primary-image {
        margin-bottom: 2rem;
    }
}

.btn-default {
    color: #212529;
    border-color: #337ab7;
    margin: .5rem 0;
    transition: all .1s ease-in-out;

    &:hover {
        color: #fff;
        background: #337ab7;
        transition: all .1s ease-in-out;
    }
}

.separator {
    margin-bottom: 1rem;

    hr {
        margin-top: .5rem;
        margin-bottom: .5rem;
        border-top-color: $color_border;
    }
}

.docs {
    img {
        border-left: solid 4px #f0ad4e;
        padding: .5rem 0 .5rem 1rem;
        margin-bottom: 1rem;        
    }

    .construction {
        background: url('../img/piranha.jpg') 50% 50% no-repeat;
        background-size: contain;

        p {
            padding: 9rem 0;
            text-align: center;
            font-weight: 300;
            font-size: 1.2rem;
            opacity: .6;            
        }
    }

    .update-info {
        color: #999;
        margin-top: -1rem;
        text-transform: uppercase;
    }
}

a {
    color: $color_link;

    &:hover {
        color: $color_link_hover;
    }
}

.sep {
    color: $color_link;
    padding: 0 2px;
}

header[role="banner"] {
    background-color: #222;
    border-color: #080808;
    padding-bottom: 10rem;

    .social {
        position: absolute;
        right: 1rem;
        top: 1.5rem;

        a {
            margin-left: .5rem;

            img {
                height: 20px;
            }
        }
    }
}

.main-body {
    margin-top: -10rem;
    overflow: hidden;

    .container {
        background: #fff;

        &.body-container {
            padding: 2rem 15px;
        }

        &.body-top {
            border-top: solid 6px #00a3d8;
            padding-top: 4rem;
            position: relative;
            
            &:before {
                content: " ";
                background: #00a3d8;
                position: absolute;                
                height: 6px;
                width: 100%;
                top: -6px;
                left: 0;                
                display: block;
                z-index: 2000;            
            }                    
        }

        &.hero {
            background: #116d9a url('../img/seigaiha-overlay.png');
        }

        &.latest-post {
            background: #f0ad4e;
            color: #fff;
            padding: 1rem 0;
            font-weight: 300;
            font-size: .9rem;    
            text-transform: uppercase;
        
            a {
                color: #fff;
            }
        }        
    }
}

footer {
    border-top: solid 4px $color_bg;

    .container {
        padding: 3rem 15px;
        font-size: .85rem;
        text-align: center;
        text-transform: uppercase;
    }
}