@model Piranha.Areas.Manager.Models.PageEditRegionCollection
@using Piranha.Models

<div id="@Model.Id" class="region-list" role="tablist">
    @for (var i = 0; i < Model.FieldSets.Count; i++) {
        @Html.EditorFor(m => m.FieldSets[i], "PageEditRegionItem.cshtml")
    }
</div>

<div class="well well-sm region-list-toolbar">
    Insert toolbar here for adding items
</div>
