<button v-if="settingRegions.length > 0 || ((usePrimaryImage || useExcerpt) && (useBlocks || contentRegions.length > 0))" class="btn btn-primary btn-icon" data-toggle="modal" data-target="#contentSettings">
    <i class="fas fa-cog"></i>
</button>
