@inject IViewLocalizer Localizer

<button type="button" class="btn btn-primary btn-labeled" data-toggle="modal" data-target="#pageAddModal">
    <i class="fas fa-plus"></i>
    @Localizer["Add"]
</button>
