@inject IAuthorizationService Auth
@inject ManagerLocalizer Localizer

@if ((await Auth.AuthorizeAsync(User, Permission.SitesAdd)).Succeeded)
{
    <button v-on:click.prevent="piranha.siteedit.create(load)" class="btn btn-primary btn-labeled">
        <i class="fas fa-globe"></i>
        @Localizer.Site["Add site"]
    </button>
}