@inject IViewLocalizer Localizer

<div class="top">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">Section</li>
            <li class="breadcrumb-item active" aria-current="page">Title</li>
        </ol>
    </nav>

    <div class="container-fluid">
        <div class="top-nav">
            <div class="btn-group" role="group">
                <button id="btnGroupDrop1" type="button" class="btn btn-primary btn-labeled dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-plus"></i>
                    @Localizer["Add"]
                </button>
                <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                    <a class="dropdown-item" href="#">Dropdown link</a>
                    <a class="dropdown-item" href="#">Dropdown link</a>
                </div>
            </div>
            <button class="btn btn-success btn-labeled" data-toggle="modal" data-target="#aliasModal">
                <i class="fas fa-check"></i>@Localizer["Save"]
            </button>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col">
            <table class="table table-borderless">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Type</th>
                        <th>Is Default</th>
                        <th>Modified</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><a href="#">Sollicitudin Pharetra Commodo</a></td>
                        <td></td>
                        <td></td>
                        <td>2019-03-19</td>
                    </tr>
                    <tr>
                        <td><a href="#">Ultricies Nibh Fusce</a></td>
                        <td></td>
                        <td></td>
                        <td>2019-03-19</td>
                    </tr>
                    <tr>
                        <td><a href="#">Quam Fusce Ornare</a></td>
                        <td></td>
                        <td></td>
                        <td>2019-03-19</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    General
                </div>
                <div class="card-body">
                    <form>
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label>Title</label>
                                    <input type="text" class="form-control form-control-lg" placeholder="Add a value">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Firstname</label>
                                    <input type="text" class="form-control" placeholder="Add a value">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Firstname</label>
                                    <input type="text" class="form-control" placeholder="Add a value">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <button class="btn btn-success btn-labeled">
                                    <i class="fas fa-check"></i>@Localizer["Save"]
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>