<div class="top">
    <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">Content</li>
        <li class="breadcrumb-item active" aria-current="page">Pages</li>
    </ol>
    </nav>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col">
            <table class="table table-borderless">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Type</th>
                        <th>Is Default</th>
                        <th>Modified</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><a href="#">Sollicitudin Pharetra Commodo</a></td>
                        <td></td>
                        <td></td>
                        <td>2019-03-19</td>
                    </tr>
                    <tr>
                        <td><a href="#">Ultricies Nibh Fusce</a></td>
                        <td></td>
                        <td></td>
                        <td>2019-03-19</td>
                    </tr>
                    <tr>
                        <td><a href="#">Quam Fusce Ornare</a></td>
                        <td></td>
                        <td></td>
                        <td>2019-03-19</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    General
                </div>
                <div class="card-body">
                    <form>
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label>Title</label>
                                    <input type="text" class="form-control form-control-lg" placeholder="Add a value">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Firstname</label>
                                    <input type="text" class="form-control" placeholder="Add a value">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Firstname</label>
                                    <input type="text" class="form-control" placeholder="Add a value">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <button class="btn btn-success btn-labeled">
                                    <i class="fas fa-check"></i>Save
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>