@model Piranha.Extend.Blocks.ColumnBlock

<div class="row">
    @for (var n = 0; n < Model.Items.Count; n++)
    {
        <div class="col-md">
            @Html.DisplayFor(m => Model.Items[n], Model.Items[n].GetType().Name)
        </div>
    }
</div>