@model StandardPage

@{
    ViewBag.Title = Model.Title;
}

<div class="main">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-sm-10 page-body">
                <h1>@Model.Title</h1>

                @Html.DisplayFor(m => m.Blocks)
            </div>
        </div>
    </div>
</div>
