@inject ManagerLocalizer Localizer

<div class="container-fluid">
    <div class="row">
        <div v-if="items.length !== 0" class="col">
            <table class="table table-borderless">
                <thead>
                    <tr>
                        <th>@Localizer.Alias["Alias URL"]</th>
                        <th>@Localizer.Alias["Redirect URL"]</th>
                        <th class="text-center">@Localizer.Alias["Permanent"]</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="item in items">
                        <td><code>{{ item.aliasUrl }}</code></td>
                        <td><code>{{ item.redirectUrl }}</code></td>
                        <td class="text-center"><i v-if="item.isPermanent" class="fas fa-check"></i></td>
                        <td class="actions one"><a v-if="piranha.permissions.aliases.delete" href="#" class="danger" v-on:click.prevent="remove(item.id)"><i class="fas fa-trash"></i></a></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div v-else class="col">
            <div class="empty-info">
                <p>@Localizer.General["Looks like there's no items here. Click on the button above to get started!"]</p>
            </div>
        </div>
    </div>
</div>
