@inject ManagerLocalizer Localizer

<div id="pageAddModal" class="modal modal-panel" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <!-- Modal header -->
            <div class="modal-header border-bottom-0">
                <h5 class="modal-title"><i class="fas fa-random"></i> @Localizer.Page["Add page"]</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <!-- Tabs -->
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active"><i class="fas fa-pen"></i> @Localizer.General["Empty"]</a>
                </li>
            </ul>

            <!-- Modal body -->
            <div class="modal-body bg-light">
                <table class="table">
                    <tbody>
                        <tr v-for="(type) in pageTypes">
                            <td><a :href="piranha.baseUrl + 'manager/page/addrelative/' + addPageId + '/' + type.id + '/' + addAfter">{{ type.title }}</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
