@inject IViewLocalizer Localizer

<div class="container-fluid">
    <div class="top-nav">
        <div class="btn-group" role="group" v-if="regions.length > 0">
            <button id="contentSelector" type="button" class="btn btn-primary btn-labeled dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span v-if="selectedRegion.uid === 'uid-blocks'"><i class="fas fa-pen-alt"></i>@Localizer["Main content"]</span>
                <span v-else><i :class="selectedRegion.icon"></i>{{ selectedRegion.name }}</span>
            </button>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="btnGroupDrop1">
                <a href="#" class="dropdown-item" v-if="selectedRegion.uid != 'uid-blocks'" v-on:click.prevent="selectRegion({ uid: 'uid-blocks' })">@Localizer["Main content"]</a>
                <a href="#" class="dropdown-item" v-if="selectedRegion.uid != region.meta.uid" v-on:click.prevent="selectRegion(region.meta)" v-for="region in contentRegions">{{ region.meta.name }}</a>
            </div>
        </div>
        <button class="btn btn-primary" data-toggle="modal" data-target="#pageSettings">
            <i class="fas fa-cog"></i>
        </button>
        @foreach (var action in Piranha.Manager.Actions.PageEdit)
        {
            <partial name="@action.ActionView" />
        }
    </div>
</div>
