.navbar.fixed-top {
    background: #fff;
    border-bottom: 1px solid #ddd;
    font-family: Raleway,sans-serif;
    box-shadow: 0 0 2rem rgba(0,0,0,.15);

    .navbar-nav {
        font-size: 0.875rem;
        font-weight: bold;
        text-transform: uppercase;

        .active {
            a {
                color: #f94c3b;
            }
        }
    }

    .navbar-toggler {
        padding: .25rem .5rem;

        .navbar-toggler-icon {
            width: 1em;
            height: 1em;
        }
    }
}

// Medium devices (tablets, 768px and up)
@media (max-width: 767px) {
    .navbar.fixed-top {
        .container {
            max-width: 100%;
        }
    }
}