.rawhtml-block textarea {
    background: #043143;
    color: #9bddff;
    width: 100%;
    font-size: 0.875rem;
    font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    border: medium none;
    padding: 0.75rem 1rem;
    border-radius: 0.25rem;
}