@import "variables";

.block {
    position: relative;
    max-width: 960px;
    padding: 2.25rem 1rem 1rem;
    margin: 0 auto;
    border: solid 1px transparent;
    transition: border-color .2s ease-in-out;

    h1, h2, h3, h4, h5 {
        font-family: Bitter, serif;
    }

    .block-header {
        color: $gray-500;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        padding: .25rem 1rem;
        font-size: .8rem;
        opacity: 0;
        transition: opacity ease-in-out .2s;

        .title {
            float: left;

            i {
                font-size: .875rem;
                padding-right: .5rem;
            }

            strong {
                text-transform: uppercase;
            }
        }

        .actions {
            float: right;

            .btn {
                background: $gray-200;
                width: 1.75rem;
                height: 1.75rem;
            }
        }
    }

    &:hover, &:focus-within {
        border-color: $gray-400;

        .block-header {
            opacity: 1;
        }
    }

    &.html-block, &.html-column-block {
        padding-bottom: 0;
        font-size: 1rem;
    }

    &.image-block {
        position: relative;
        text-align: center;

        .media-picker {
            background: rgba(0,0,0,.4);
            position: absolute;
            width: 90%;
            top: 50%;
            left: 5%;
            padding: 1.5rem;
            margin-top: -2.5rem;
            opacity: 0;
            transition: opacity ease-in-out .2s;

            .card-body {
                padding: .4rem 1rem;
                margin-right: 1rem;
            }
        }

        &:hover, &:focus-within {
            .media-picker {
                opacity: 1;
            }
        }
    }

    &.text-block {
        pre {
            min-height: 1.3rem;
            font-size: .875rem;
            margin-bottom: 0;
            white-space: normal;
        }
    }

    &.missing-block {
        border: 0;
        padding: 0;

        .alert {
            margin: .5rem 0;
        }
    }
}