.btn {
    transition: background-color ease-in-out .15s, border-color ease-in-out .15s;

    &.btn-labeled {
        i {
            padding-right: .5rem;
            border-right: solid 1px rgba(255,255,255,0.3);
            margin-right: .5rem;
        }
    }
}