@import "variables";

body {
    margin-top: 4rem;
    margin-left: 3rem;
}

a {
    transition: text-decoration ease-in-out .15s, color ease-in-out .15s;
}

img {
    max-width: 100%;
}

.container-fluid
{
    margin-left: 0;
    max-width: 1370px;
}