// Color system

$white:     #fff;
$gray-100:  #f2f2f2;
$gray-200:  #e9ecef;
$gray-300:  #dee2e6;
$gray-400:  #ced4da;
$gray-500:  #adb5bd;
$gray-600:  #6c757d;
$gray-700:  #495057;
$gray-800:  #222;
$gray-900:  #212529;
$black:     #000;

$blue:      #007eaa;
$indigo:    #6610f2;
$purple:    #6f42c1;
$pink:      #e83e8c;
$red:       #a94441;
$orange:    #ff7200;
$yellow:    #f0ad4e;
$green:     #439700;
$teal:      #20c997;
$cyan:      #17a2b8;

$body-bg: $gray-100;

// Typography

$font-size-base: .875rem;

// Components

$border-radius:     0;
$border-radius-lg:  0;
$border-radius-sm:  0;

// Cards

$card-bg: none;
$card-cap-bg: none;
$card-body-bg: $white;
$card-border-width: 0;