@model IList<Piranha.Extend.BlockType>
@{
    ViewBag.Title = "Block types";
}

<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</td>
            <th>Display name</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
            <tr>
                <td><a href="@Url.Action("Edit", new { id = item.Id.ToLower() })">@item.Id</a></td>
                <td>@item.Title</td>
            </tr>
        }
    </tbody>
</table>
