@page "~/manager/page/{id:Guid}"
@inject IViewLocalizer Localizer
@{
    ViewBag.Title = Localizer["Edit page"];
}
@section script
{
    <script src="~/assets/tinymce/tinymce.min.js"></script>
    <script src="~/assets/js/piranha.pageedit.min.js"></script>
    <script>
        piranha.pageedit.load("@RouteData.Values["id"]");

        $(".title input").focus();
    </script>
}

<div id="pageedit">
    <div class="top">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">@Localizer["Content"]</li>
                <li class="breadcrumb-item"><a href="~/manager/pages">@Localizer["Pages"]</a></li>
                <li class="breadcrumb-item active" aria-current="page">@Localizer["Edit"]</li>
            </ol>
        </nav>

        <partial name="Partial/_PageMenu" />
    </div>

    <div class="container-fluid app" :class="{ ready: !loading }">
        <!-- Title -->
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <div class="form-group title">
                            <input v-model="title" type="text" class="form-control form-control-lg">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Blocks -->
        <div class="card" :class="{ 'd-none': selectedRegion != 'uid-blocks' }">
            <div class="card-body">
                <div class="blocks">
                    <a href="#" class="block-add unsortable" v-on:click.prevent="piranha.blockpicker.open(piranha.pageedit.addBlock, 0)">
                        <hr>
                        <i class="fas fa-plus-circle"></i>
                    </a>
                    <div v-for="(block, index) in blocks" v-bind:key="block.meta.uid">
                        <div :class="'block ' + block.meta.component">
                            <div class="block-header">
                                <div class="title">
                                    <i :class="block.meta.icon"></i><strong>{{ block.meta.name }}</strong>
                                </div>
                                <div class="actions">
                                    <span class="btn btn-sm handle">
                                        <i class="fas fa-ellipsis-v"></i>
                                    </span>
                                    <button v-on:click.prevent="removeBlock(block)" class="btn btn-sm" tabindex="-1">
                                        <i class="fas fa-trash"></i>
                                    </button>
                                </div>
                            </div>
                            <component v-bind:is="block.meta.component" v-bind:uid="block.meta.uid" v-bind:model="block.model"></component>
                        </div>
                        <a href="#" class="block-add" v-on:click.prevent="piranha.blockpicker.open(piranha.pageedit.addBlock, index + 1)">
                            <hr>
                            <i class="fas fa-plus-circle"></i>
                        </a>
                    </div>
                    <div v-if="blocks.length == 0" class="empty-info">
                        <p>Welcome to your new page. Click on the button above to add your first block of content!</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Content Regions -->
        <div class="card" :class="{ 'd-none': selectedRegion != region.meta.uid }" v-for="region in contentRegions">
            <div class="card-body">
                <div class="region-center">
                    <region v-bind:model="region"></region>
                </div>
            </div>
        </div>
    </div>

    <partial name="Partial/_PageSettings" />
</div>