@model IList<Piranha.Extend.PageType>
@{
    ViewBag.Title = "Page types";
}

<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Route</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
            <tr>
                <td>@item.Title</td>
                <td>@item.Route</td>
            </tr>
        }
    </tbody>
</table>
