@inject IViewLocalizer Localizer

<script id="media-upload-template" type="text/template">    
    <li class="media media-upload mb-2 pb-2">
        <div class="media-thumbnail">
            <i class="fas fa-file-upload"></i>
            <img data-dz-thumbnail />
        </div>
        <div class="media-body">
            <div class="d-flex">
                <p class="m-0" data-dz-name></p>
                <a href="#" class="close ml-auto" data-dz-remove>&times;</a>
            </div>
            
            <p class="text-muted m-0" data-dz-size></p>
            <p class="status m-0"
               dz-error-message
               data-queue="@Localizer["In queue"]"
               data-uploading="@Localizer["Uploading..."]"
               data-success="@Localizer["Upload was successful"]"
               data-error="@Localizer["Failed to upload media. "]">
               <span data-dz-errormessage></span>
            </p>
            <div class="progress">
                <div class="progress-bar" role="progressbar" data-dz-uploadprogress></div>
            </div>
        </div>
    </li>
</script>