@model IList<RazorWeb.Models.Regions.Teaser>
@{
}

@if (Model.Count > 0)
{
    <div class="teasers">
        <div class="container">
            <div class="row">
                @foreach (var teaser in Model)
                {
                    <div class="col-md">
                        <div class="teaser-body">
                            <h3>@teaser.Title.Value</h3>
                            @if (teaser.Image.HasValue)
                            {
                                <img src="@WebApp.Url(WebApp.Media.ResizeImage(teaser.Image, 132))">
                            }
                            @Html.Raw(teaser.Body)
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
}
