@inject IViewLocalizer Localizer
@section script
{
    <script src="~/assets/js/piranha.pagelist.min.js"></script>
}

<div id="pagelist">
    <div class="top">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">@Localizer["Content"]</li>
                <li class="breadcrumb-item active" aria-current="page">@Localizer["Pages"]</li>
            </ol>
        </nav>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div class="sitemap">
                    <ol>
                        <li v-for="site in sites">
                            <div class="sitemap-item">
                                <div class="handle"><i class="fas fa-globe"></i></div>
                                <div class="link"><a href="#">{{ site.title }} <small>(<code>{{ site.slug }}</code>)</small></a></div>
                            </div>
                            <div class="sitemap sitemap-container dd">
                                <ol class="dd-list">
                                    <sitemap-item v-for="item in site.pages" v-bind:key="item.id" v-bind:item="item"></sitemap-item>
                                </ol>
                            </div>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>