@import "colors";

body {
    font-family: 'Montserrat', sans-serif;
}

header {
    color: $header_color;

    &.site-header {
        padding: 0;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
    }

    &.page-header {
        padding-top: 6rem;

        img {
            border-radius: 80px;
            float: right;
        }
    }
}

.nav-site {
    li {
        a {
            color: $header_color;
            padding: 0;
            margin: 1em 1em;
            font-size: .9rem;
            text-transform: uppercase;
            transition: all ease-in-out .2s;

            &:hover {
                padding: .8em 0;
                color: $header_color;
                transition: all ease-in-out .2s;

                span {
                    padding: .2em 1em;
                    border-color: $header_color;                    
                    transition: all ease-in-out .2s;
                }
            }

            span {
                display: block;
                padding: 1em;
                border-color: transparent;
                border-style: solid;
                border-width: 1px 0;                    
                transition: all ease-in-out .2s;
            }
        }

        &.active {
            a {
                color: $header_color;
                font-weight: 500;
                text-shadow: 0 0 5px #fff;
            }
        }
    }
}

.header-bg {
    &.header-bg-empty {
        a {
            &:hover {
                span {
                    border-color: #000;
                }
            }
        }
    }
}

.teasers {
    .teaser {
        .teaser-body {
            background: $panel_bg;
            height: 100%;
            padding: 2rem;

            .teaser-subtitle {
                font-size: 0.75rem;
                font-weight: 300;
                text-transform: uppercase;                
            }

            h3 {
                font-size: 1.5rem;
                font-weight: 300;
                margin-bottom: 1rem;
            }

            p {
                font-size: 0.9rem;
            }
        }
    }
}

.archive-item {
    h2 {
        a {
            color: #000;
            transition: color ease-in-out .15s;
    
            &:hover {
                transition: color ease-in-out .15s;
            }
        }
    }
}

.post-header {
    img {
        border: solid .3rem #fff;
        box-shadow: 0 1rem 2rem rgba(0,0,0,0.15);
    }
}

#navbarNavAltMarkup {
    background-color: rgba(62, 70, 123, 0.90);
    z-index: 100;
    padding: 10px;
}

.site-header-dark .menu {
    background: rgba(62, 70, 123, 1);
}

@media (min-width: 768px) {
    .site-header-dark .menu {
        background: #fff
    }
}
