<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    @*<meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">*@

    <title>@ViewBag.Title</title>

    <link href="~/assets/css/style.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

    <div class="container">
        <div class="header clearfix">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active"><a href="~/">Home</a></li>
                    <li role="presentation"><a href="~/blog">Blog</a></li>
                </ul>
            </nav>
            <h3 class="text-muted">Piranha CMS</h3>
        </div>

        @RenderBody()

        <footer class="footer">
            <p>&copy; 2016 Håkan Edling | <a target="_blank" href="http://twitter.com/tidyui">@@tidyui</a>.</p>
        </footer>

    </div> <!-- /container -->
    <script src="~/assets/js/script.min.js"></script>
</body>
</html>
