@{
    //
    // Simple helper function for styling menu items
    //
    Func<Piranha.Models.SitemapItem, string> Css = (item) => {
        if (item.Id == WebApp.PageId) {
            return "class=active";
        } else if (item.HasChild(WebApp.PageId)) {
            return "class=active-child";
        }
        return "";
    };
}

<ul class="nav nav-pills pull-right">
    @foreach (var item in WebApp.Site.Sitemap) {
        if (!item.IsHidden) {
            <li role="presentation" @Css(item)><a href="@item.Permalink">@item.MenuTitle</a></li>
        }
    }
</ul>