@inject Piranha.Api Api
@{
    var sitemap = Api.Sites.GetSitemap();
}

<ul class="nav nav-pills pull-right">
    @foreach (var item in sitemap) {
        if (!item.IsHidden) {
            <li role="presentation"><a href="@item.Permalink">@item.MenuTitle</a></li>
        }
    }
</ul>