@inject Piranha.IApi Api
@{
    var sitemap = Api.Sites.GetSitemap();
    var currentPage = ViewBag.CurrentPage;

    //
    // Simple helper function for styling menu items
    //
    Func<Piranha.Models.SitemapItem, string> Css = (item) => {
        if (item.Id == currentPage) {
            return "class=active";
        } else if (item.HasChild(currentPage)) {
            return "class=active-child";
        }
        return "";
    };
}

<ul class="nav nav-pills pull-right">
    @foreach (var item in sitemap) {
        if (!item.IsHidden) {
            <li role="presentation" @Css(item)><a href="@item.Permalink">@item.MenuTitle</a></li>
        }
    }
</ul>