@model Piranha.Areas.Manager.Models.MediaListModel

<div id="modalAddFolder" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <form action="@Url.Action("AddFolder")" method="post">
            <input type="hidden" name="ParentId" value="@Model.CurrentFolderId">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Add new folder</h4>
                </div>
                <div class="modal-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <input name="Name" type="text" class="form-control" placeholder="New folder name" autofocus>
                            </div>
                        </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Add</button>
                </div>
            </div>
        </form>
    </div>
</div>
