@model CoreWeb.Models.TeaserPage
@{
    ViewBag.Title = Model.Title;
    ViewBag.Ingress = Model.Heading.Ingress.Value;
    ViewBag.IsStart = true;
}
@section meta {
    <partial name="Partial/_Meta" />
}
<partial name="Partial/Teasers" for="Teasers" />

<div class="container body @(Model.Teasers.Count == 0 ? "arrow" : "")">
    @Html.DisplayFor(m => m.Blocks)
</div>