@model CoreWeb.Models.TeaserPage
@{
    ViewBag.Title = Model.Title;
    ViewBag.Ingress = Model.Heading.Ingress.Value;
    ViewBag.IsStart = true;
}

@Html.Partial("Partial/Teasers", Model.Teasers)

<div class="container body @(Model.Teasers.Count == 0 ? "arrow" : "")">
    @Html.Raw(Model.Body)
</div>