@model CoreWeb.Models.MarkdownPage
@{
    ViewBag.Title = Model.Title;
    ViewBag.Ingress = Model.Heading.Ingress.Value;
    ViewBag.IsStart = true;
}

<div class="container arrow">
    @Html.Raw(Model.Body)
</div>
