@model Piranha.Extend.Blocks.SliderGroup

<div class="form-group">
    <label>Main Title</label>
    @Html.EditorFor(m => m.MainTitle)
</div>
<div class="form-group">
    <label>Main Image</label>
    @Html.EditorFor(m => m.MainImage)
</div>
