@using Piranha.Extend;
@using Piranha.Manager.Manager;
@using System.Text.RegularExpressions;
@model Block

@foreach(var name in Model.GetFieldNames())
{
    var label = Regex.Replace(name, "(\\B[A-Z])", " $1");
    <div class="form-group">
        <label>@label</label>
        @Html.Editor(name)
    </div>
}