@model Piranha.Extend.Fields.CheckBoxField
@{
    var placeholder = ViewData["Placeholder"];    
}
<div class="checkbox">
    <label>
        @Html.CheckBoxFor(m => m.Value, new { @class = "checkbox" }) @placeholder
    </label>
</div>
