@model Piranha.Extend.Fields.DateField

<div class="input-group date datepicker">
    @Html.TextBoxFor(m => m.Value, new { @class = "form-control small" })
    <span class="input-group-addon">
        <span class="glyphicon glyphicon-calendar"></span>
    </span>
</div>