@model Piranha.Extend.Fields.MarkdownField

<div class="markdown">
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Markdown</a></li>
        <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Preview</a></li>
    </ul>
    @Html.TextAreaFor(m => m.Value, new { @class = "form-control raw-text", rows = 10 })
    <div class="content-preview">
        @Html.Raw(Model.ToHtml())
    </div>
</div>
