@model Piranha.Extend.Blocks.TextBlock
@{
    var prefix = Html.ViewData.TemplateInfo.HtmlFieldPrefix
        .Replace("[", "_").Replace("]", "_").Replace(".", "_");    
}

@Html.HiddenFor(m => m.Body.Value, "")
<div class="content-preview">
    <div class="editor-area" contenteditable="true" data-id="@(prefix)_Body_Value">
        @if (!string.IsNullOrWhiteSpace(Model.Body.Value)) {
            @Html.Raw(Model.Body.Value)
        } else {
            <text>&nbsp;</text>
        }
    </div>
</div>
