@model MvcWeb.Models.Regions.Hero

<div class="container hero">
    <div class="row">
        <div class="col text-center">
            <h2>@Model.Subtitle</h2>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-sm-8 col-xs-12 text-center">
            @if (Model.PrimaryImage.HasValue) 
            {
                <img src="@Url.Content(Model.PrimaryImage)">
            }
            @Html.Raw(Model.Ingress)
        </div>
    </div>
</div>