@model Piranha.Extend.Blocks.HtmlBlock
@{
    bool? isInGroup = (bool?)ViewData["BlockGroup"];
}

@if (!isInGroup.HasValue)
{
    <div class="row justify-content-center block">
        <div class="col">
            @Html.Raw(Model.Body)
        </div>
    </div>
}
else
{
    @Html.Raw(Model.Body)
}
