@model Piranha.Extend.Blocks.ImageBlock
@{
    bool? isInGroup = (bool?)ViewData["BlockGroup"];
}
@if (!isInGroup.HasValue)
{
    <div class="row justify-content-center block image-block">
        <div class="col">
            <img src="@Url.Content(Model.Body)">
        </div>
    </div>
}
else
{
    <img src="@Url.Content(Model.Body)">
}
